<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>监测软件配置管理</title>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="jquery/jquery-3.5.1.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="javascripts/gitset.js"></script>
</head>


<body>
    <div class="col-md-12">

        <nav class="navbar navbar-default " role="navigation">
            <div class="container-fluid col-lg-offset-5 col-xs-offset-4 col-sm-offset-5">
                <div class="navbar-header">
                    <a class="navbar-brand">监测软件配置管理</a>
                </div>
            </div>
        </nav>
        <div class="row">

            <div class="col-md-10">
                <div id="machine" class=" col-lg-offset-5 col-xs-offset-4 col-sm-offset-5" style="width: 500px;">
                    <div>
                        <form role="form-inline" id="machineInputParam">
                            <div>
                                <label style="width: 180px;" for="gitAccount">GitHub账号</label>
                                <input style="width: 300px;" type="text" id="gitAccount" autocomplete="off">
                            </div>
                            <div style="margin-top: 5px;">
                                <label style="width: 180px;" for="sshContent">GitHub克隆源SSH地址</label>
                                <input style="width: 300px;" type="text" id="sshContent" autocomplete="off">
                            </div>
                            <div style="margin-top: 5px;">
                                <label style="width: 180px;" for="projectName">项目目录名称</label>
                                <input style="width: 300px;" type="text" id="projectName" autocomplete="off">
                            </div>
                            <div style="margin-top: 5px;">
                                <label style="width: 180px;" for="configFileName">配置文件名称</label>
                                <input style="width: 300px;" type="text" id="configFileName" autocomplete="off">
                            </div>


                        </form>

                        <form role="form">
                            <div style="width: 480px;">
                                <h5>请输入以上GitHub连通需要设定的信息之后点击公钥生成按钮，将生成的公钥复制下来设置到GitHub上，设置完成后单击数据连通测试查看是否成功连通GitHub
                                </h5>
                            </div>

                            <p id="keyContent" style="word-break:break-all;width: 480px;height: 200px;background-color: lightblue;padding-top: 10px;padding-left: 10px;padding-right: 10px;">公钥生成</p>
                            <div class="form-group  style=" margin-top: 5px;">
                                <button type="button" class="btn btn-default" id="btnKeyGen"
                                    onclick="genericGitKey()">公钥生成</button>
                                <button type="button" class="btn btn-default" onclick="connectGitByClone()"
                                    id="btnGitCon">数据连通测试</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>