<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>监测软件配置管理</title>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="jquery/jquery-3.5.1.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="echarts/echarts.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/algorithm.js"></script>
    <script src="javascripts/machine.js"></script>  
    <script src="layui/layui.js"></script>
</head>

<style>
    .hover {
        background-color: lightgrey;
    }

    .rowselect {
        background-color: lightgrey;
    }
</style>

<body style="width: 1920px;">
    <div class="col-md-12">

        <nav class="navbar navbar-default " role="navigation">
            <div class="container-fluid col-lg-offset-5 col-xs-offset-4 col-sm-offset-5">
                <div class="navbar-header">
                    <a class="navbar-brand">监测软件配置管理</a>
                </div>
            </div>
        </nav>
        <div style="display: inline;">
            <div  style="background-color: #F2F2F2;padding-top: 10px;height: 850px;width: 270px;float: left;">
                <div id="left-panal" class="list-group">
                    <a href="#" id="li-machine" class="list-group-item">机组信息配置管理</a>
                    <a href="#" id="li-cal" class="list-group-item">算法集成配置</a>
                    <a href="#" id="li-chart" class="list-group-item  active">可视化查看</a>
                </div>
            </div>

            <div style="height: 850px;width: 1595px;float:right">
                <div id="machine" style="background-color: #F2F2F2;padding-top: 15px;height: 850px;padding-left: 5px;width: 1350px;float: left;">
                    <div>
                        <form role="form-inline" id="machineInputParam" style="width: 1300px;">
                            <div>
                                <label for="jizuName">机组名:</label>
                                <input style="width: 130px;" type="text" id="jizuName" autocomplete="off">
                                <label for="jizuURI" style="margin-left: 40px;">机组HOST :</label>
                                <input style="width: 430px;" type="text" id="jizuURI" autocomplete="off">
                                <label for="jizuPort" style="margin-left: 40px;">端口:</label>
                                <input style="width: 80px;" type="text" id="jizuPort" autocomplete="off">
                            </div>
                            <div>
                                <label id="jizuNameErr" style="color: red;"></label>
                                <label id="jizuURIErr" style="margin-left: 180px;color: red;"></label>
                                <label id="jizuPortErr" style="margin-left: 480px;color: red"></label>
                            </div>
                            <div>
                                <label for="dbName">数据库名:</label>
                                <input style="width: 150px;" type="text" id="dbName" autocomplete="off">
                                <label style="margin-left: 40px;" for="dataStartTime">开始时间:</label>
                                <input style="width: 150px;" type="datetime" id="dataStartTime" autocomplete="off"
                                    readonly="readonly">
                                <label style="margin-left: 40px;" for="dataEndTime">结束时间:</label>
                                <input style="width: 150px;" type="datetime" id="dataEndTime" autocomplete="off"
                                    readonly="readonly">
                            </div>
                            <div>
                                <label id="dbNameErr" style="color: red;"></label>
                                <label id="dataStartTimeErr" style="margin-left: 200px;color: red;"></label>
                                <label id="dataEndTimeErr" style="margin-left: 200px;color: red;"></label>
                            </div>
                            <div style="text-align: right;">
                                <button type="button" class="btn btn-default" id="btnDel"
                                    onclick="deleteRow()">删除</button>
                                <button type="button" class="btn btn-default" onclick="submitAddRow()"
                                    id="btnAdd">添加</button>
                                <button type="button" class="btn btn-default" id="btnLoadData"
                                    onclick="machineLoadData()">数据迁移</button>
                            </div>

                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table" id="jizuTable">
                            <caption>机组信息</caption>
                            <thead>
                                <tr>
                                    <th>机组名</th>
                                    <th>机组HOST</th>
                                    <th>机组Port</th>
                                    <th>数据库名</th>
                                    <th>数据开始时间</th>
                                    <th>数据结束时间</th>
                                    <th>状态</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="calculation">
                    <div class="col-md-5" style="height: 330px;background-color: #F2F2F2;width: 1300px;margin-bottom: 10px;">
                        <h4>算法绑定</h4>
                        <div class="table-responsive">
                            <table id="cal-table" class="table">
                                <!-- <caption>机组信息</caption> -->
                                <thead>
                                    <tr>
                                        <th>机组</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>机组1</td>
                                    </tr>
                                    <tr>
                                        <td>机组2</td>
                                    </tr>
                                    <tr>
                                        <td>机组3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-10" style="height: 510px;width: 1300px; background-color: #F2F2F2;" >
                        <h4>算法编辑</h4>
                        <div class="col-md-7" style="height:470px;border-right:1px dashed #000;">

                            <form role="form-inline" id="algForm" style="padding-top: 10px;">
                                <div>
                                    <label for="algName" style="width: 80px;">算法名:</label>
                                    <input style="width: 200px;" type="text" id="algName" autocomplete="off">
                                    <label for="algDesc" style="width: 80px;margin-left: 30px;">算法描述:</label>
                                    <input style="width: 200px;" type="text" id="algDesc" autocomplete="off">
                                </div>
                                <div>
                                    <label for="jizuURI" style="width: 80px ;">基础算法:</label>
                                    <select id="cal-ddddselect" style="width: 200px;">
                                        <option value="1">基础算法1</option>
                                        <option value="2">基础算法2</option>
                                        <option value="3">基础算法3</option>
                                        <option value="4">基础算法4</option>
                                    </select>

                                    <button type="button" class="btn btn-default" id="btnAlgDel" style="margin-left: 200px;"
                                        onclick="algDeleteRow()">添加</button>
                                    <button type="button" class="btn btn-default" onclick="algSubmitAddRow()"
                                        id="btnAlgAdd">删除</button>
                                </div>
                            </form>
                            <div>
                                <table class="table" id="algTable">
                                    <thead>
                                        <tr>
                                            <th>算法ID</th>
                                            <th>算法名</th>
                                            <th>基础算法</th>
                                            <th>算法描述</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>算法名1</td>
                                            <td>基础算法1</td>
                                            <td>算法描述1</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>算法名2</td>
                                            <td>基础算法2</td>
                                            <td>算法描述2</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>算法名3</td>
                                            <td>基础算法3</td>
                                            <td>算法描述3</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-md-3 " style="height: 100%" >
                            <form role="form-inline" id="algParamForm" style="padding-top: 10px;">
                                <div>
                                    <label for="algParamName" style="width: 50px;">参数名:</label>
                                    <input style="width: 80px;" type="text" id="algParamName" autocomplete="off">       
                                    <label for="algParamValue" style="width: 50px;margin-left: 10px;">参数值</label>
                                    <input style="width: 80px;" type="text" id="algParamValue" autocomplete="off">
                                </div>
                                <div>
                                    <button type="button" class="btn btn-default" id="btnAlaParamDel" style="margin-left: 170px;"
                                        onclick="deleteAlgParamRow()">添加</button>
                                    <button type="button" class="btn btn-default" onclick="submitAlgParamAddRow()"
                                        id="btnAlaParamAdd">删除</button>
                                </div>
                                <div>
                                    <table class="table" id="sssjizuTable">
                                        <thead>
                                            <tr>
                                                <th>参数名</th>
                                                <th>参数值</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>参数1</td>
                                                <td>23.4</td>
                                            </tr>
                                            <tr>
                                                <td>参数2</td>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <td>参数3</td>
                                                <td>45.4</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="chart" style="width: 600px;height:400px;"></div>
            </div>

        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 350px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        算法选择
                    </h4>
                </div>
                <div class="modal-body">
                    <select id="cal-select" style="width: 200px;">
                        <option value="1">算法1</option>
                        <option value="2">算法2</option>
                        <option value="3">算法3</option>
                        <option value="4">算法4</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="submitCal()">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="delQuery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 350px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title">
                        提示
                    </h4>
                </div>
                <div class="modal-body">
                    确定删除已经选中的机组信息么
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="delMachineOK()">
                        确定
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</body>

</html>